.header,
.intro,
.shorten-link,
.advanced-statistics,
.summary,
.footer, .container-nav-items,
.footer-nav-items,
.footer-social-media-items, .nav-item a,
.side-nav-btn, .side-nav-items, button, .intro-cnt,
.shorten-link-cnt,
.advanced-statistics-cnt,
.summary-cnt,
.footer-cnt, .info-description-cnt, .statistics-cards, .statistics-card, .statistics-card-icon, .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

body,
button,
a {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

a {
  text-decoration: none;
}

.header {
  padding: 1.5rem;
}

.header-cnt {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.company-logo-link {
  padding-top: 5px;
}

.nav {
  display: none;
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #3b3054;
  color: #ffffff;
  margin: 0rem 1.5rem;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}

.nav-active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.container-nav-items,
.footer-nav-items,
.footer-social-media-items {
  list-style-type: none;
  margin: 0;
  padding-bottom: 1rem;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav-item a,
.side-nav-btn {
  margin: 0.4rem 0rem;
  padding: 0.6rem 0rem;
  width: 100%;
  font-weight: 700;
}

.nav-item a {
  color: #ffffff;
}

.side-nav-items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
  position: relative;
}

.main-btn,
.main-btn-opposed {
  color: #ffffff;
  padding: 0.9rem 0rem;
  font-weight: 700;
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}

.main-btn {
  border-radius: 3rem;
  background-color: #2acfcf;
}

.side-nav-items::before {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #9e9aa7;
  opacity: 0.25;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

a:focus,
button:focus {
  outline: #2acfcf dotted 3px;
}

.main-btn-opposed:hover,
.nav-item a:hover,
.side-nav-btn:first-child:hover {
  color: #35323e;
}

.footer-nav-item a:hover {
  color: #2acfcf;
}

.main-btn:hover {
  background-color: #9be4e4;
}

.main {
  overflow: hidden;
}

.intro {
  padding: 0 0 4rem 0;
  position: relative;
}

.intro-cnt,
.shorten-link-cnt,
.advanced-statistics-cnt,
.summary-cnt,
.footer-cnt {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 100%;
          flex: 1 1 100%;
}

.intro-cnt {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  overflow: hidden;
  padding-bottom: 3px;
}

.illustration-intro {
  position: relative;
  margin-left: 1.5rem;
}

.illustration-intro img {
  width: 32rem;
}

.info-description-cnt {
  padding: 0rem 1.5rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info-title,
.advanced-statistic-title,
.statistics-card-title,
.summary-title,
.footer-nav-title {
  color: #35323e;
  font-weight: 700;
  text-align: center;
}

.info-description,
.advanced-statistic-description,
.statistics-card-description {
  text-align: center;
  color: #9e9aa7;
}

.info-title {
  font-size: 2.6rem;
  line-height: 1.15;
  margin-bottom: 1rem;
}

.info-description {
  margin: 0 0 2rem 0;
  line-height: 1.75;
}

.get-started-btn {
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  font-size: 1.2rem;
}

.shorten-link {
  z-index: 1;
  padding: 1.5rem;
  background-color: #eef0f6;
  position: relative;
}

.shorten-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.shorten-link-cnt {
  padding: 1.5rem;
  background-color: #3b3054;
  background-image: url(./images/bg-shorten-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
}

.shorten-link-input-group {
  width: 100%;
}

.shorten-link-label {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#shorten-link-input-field {
  width: 100%;
  border: 3px solid #ffffff;
  border-radius: 0.6rem;
  font-size: 1rem;
  padding: 0.7rem 0.8rem;
  outline: none;
}

#shorten-link-input-field::-webkit-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #35323e;
  opacity: 0.5;
}

#shorten-link-input-field:-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #35323e;
  opacity: 0.5;
}

#shorten-link-input-field::-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: #35323e;
  opacity: 0.5;
}

#shorten-link-input-field::placeholder {
  font-family: "Poppins", sans-serif;
  color: #35323e;
  opacity: 0.5;
}

.shorten-link-btn {
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-family: Arial;
}

.advanced-statistics {
  background-color: #eef0f6;
  padding: 1.5rem;
}

.advanced-statistic-title {
  font-size: 1.7rem;
  padding-top: 1rem;
  -webkit-margin-after: 0.5em;
          margin-block-end: 0.5em;
}

.advanced-statistic-description {
  font-size: 1rem;
  line-height: 1.75;
  max-width: 32rem;
  -webkit-margin-before: 0em;
          margin-block-start: 0em;
}

.statistics-cards {
  max-width: 43rem;
  width: 100%;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 1;
  margin: 5rem 0rem 3.5rem 0rem;
}

.statistics-cards::after {
  content: "";
  position: absolute;
  background-color: #2acfcf;
  width: 0.5rem;
  height: 100%;
  top: 0;
  z-index: -1;
}

.statistics-card {
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ffffff;
  margin: 3rem 0rem;
  padding: 1.9rem;
  max-width: 22rem;
  border-radius: 0.3rem;
}

.statistics-card:first-child {
  margin-top: 0rem;
}

.statistics-card:last-child {
  margin-bottom: 0rem;
}

.statistics-card-icon {
  position: absolute;
  background-color: #3b3054;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  top: -2.7rem;
}

.statistics-card-title {
  margin: 0;
  padding-top: 2.6rem;
  font-size: 1.4rem;
}

.statistics-card-description {
  font-size: 0.95rem;
  line-height: 1.6rem;
}

.summary {
  padding: 4.9rem 1.5rem;
  background-color: #3b3054;
  background-image: url(./images/bg-boost-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

.footer {
  padding: 3rem 1.5rem;
  background-color: #232127;
}

.footer-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2rem 0rem;
}

.summary-title,
.footer-nav-title {
  color: #ffffff;
}

.summary-title {
  -webkit-margin-before: 0;
          margin-block-start: 0;
}

.footer-nav-title {
  font-size: 1rem;
  margin: 1rem 0;
}

.footer-nav-item {
  margin: 0.2rem 0rem;
}

.footer-nav-item a {
  color: #bfbfbf;
  font-size: 0.9rem;
}

.footer-social-media-items {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-bottom: 0rem;
}

.footer-social-media-item {
  margin: 0 0.8rem;
}

.footer-social-media-item a:hover svg path {
  fill: #2acfcf;
}

@media (min-width: 575px) {
  .illustration-intro {
    margin-right: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (min-width: 600px) {
  .illustration-intro,
  .info-description-cnt {
    padding: 0;
    margin: 0;
  }
  .illustration-intro img {
    width: 100%;
  }
  .header,
  .intro,
  .shorten-link,
  .advanced-statistics,
  .summary,
  .footer {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media (min-width: 700px) {
  .statistics-card:nth-child(odd) {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .statistics-card:nth-child(even) {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  .footer-nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-nav-items-wrapper {
    margin: 0 3rem;
  }
  .advanced-statistics-cnt {
    max-width: 40rem;
  }
}

@media (min-width: 800px) {
  .intro-cnt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: visible;
    padding-bottom: 0;
  }
  .info-description-cnt {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 2rem;
  }
  .illustration-intro {
    left: 57.5%;
  }
  .intro {
    padding-right: 0rem;
    padding-bottom: 7rem;
    padding-top: 1.5rem;
  }
  .info-title,
  .info-description {
    text-align: left;
  }
  .illustration-intro {
    position: absolute;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .illustration-intro {
    width: 45%;
  }
  .info-description-cnt {
    width: 55%;
  }
  .illustration-intro img {
    width: 40rem;
  }
  .mobile-nav-toogle {
    display: none;
  }
  .company-logo-link {
    margin-right: 2rem;
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    background-color: transparent;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    padding: 0;
    margin: 0;
  }
  .nav-item a,
  .side-nav-btn:first-child {
    color: #9e9aa7;
  }
  .side-nav-btn.main-btn {
    padding: 0.5rem 1.4rem;
  }
  .side-nav-btn.main-btn-opposed {
    padding: 0rem;
  }
  .nav-item a,
  .side-nav-btn {
    font-size: 0.9rem;
    margin: 0rem 0.5rem;
  }
  .nav,
  .container-nav-items,
  .side-nav-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .side-nav-items,
  .container-nav-items {
    padding: 0;
  }
  .side-nav-items::before {
    display: none;
  }
  .side-nav-items .main-btn {
    margin-right: 0;
  }
  .shorten-link-cnt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .shorten-link-btn {
    margin: 0rem 0rem 0rem 1.5rem;
    width: 10rem;
  }
  .header {
    padding-top: 3rem;
    padding-right: 3rem;
  }
  .shorten-link-cnt {
    background-image: url(./images/bg-shorten-desktop.svg);
  }
  .summary {
    background-image: url(./images/bg-boost-desktop.svg);
    padding-top: 3.3rem;
    padding-bottom: 3.3rem;
  }
  .advanced-statistic-title {
    font-size: 2.3rem;
  }
  .advanced-statistic-description {
    font-size: 1.1rem;
  }
  .summary-title {
    font-size: 2.3rem;
  }
  .info-title {
    font-size: 3rem;
  }
}

@media (min-width: 960px) {
  .header,
  .shorten-link,
  .advanced-statistics,
  .summary,
  .footer {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .intro {
    padding-left: 4rem;
  }
  .footer-cnt {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer-nav {
    padding: 0;
    margin: 0 1rem;
  }
  .footer-nav-title {
    -webkit-margin-before: 0rem;
            margin-block-start: 0rem;
  }
  .footer-nav-items {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .footer-nav-title {
    text-align: left;
  }
  .footer-nav-items-wrapper {
    margin: 0 2rem;
  }
  .advanced-statistic-title {
    font-size: 2.4rem;
  }
  .summary-title {
    font-size: 2.5rem;
  }
  .summary {
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
  }
  .info-title {
    font-size: 3.4rem;
  }
}

@media (min-width: 1024px) {
  .header,
  .shorten-link,
  .advanced-statistics,
  .summary,
  .footer {
    padding-left: 5rem;
    padding-right: 5rem;
  }
  .intro {
    padding-left: 5rem;
    padding-bottom: 10rem;
  }
  .info-title {
    font-size: 3.4rem;
  }
  .info-description {
    font-size: 1.2rem;
  }
  .info-description-cnt {
    padding-right: 3rem;
  }
  .illustration-intro img {
    width: 50rem;
  }
  .side-nav-btn {
    margin: 0rem 1rem;
  }
  .nav-item {
    margin: 0rem 0.5rem;
  }
  .info-title {
    margin-bottom: 0rem;
    font-size: 3.5rem;
  }
  .shorten-link-cnt {
    padding: 2rem;
  }
  .shorten-link-btn {
    width: 15rem;
  }
  .advanced-statistic-title {
    margin: 0 0 0.7rem 0;
    padding-top: 4.5rem;
  }
}

@media (min-wdth: 1200px) {
  .info-description-cnt {
    padding-right: 10rem;
  }
}

@media (min-width: 1280px) {
  .statistics-cards {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .statistics-cards::after {
    width: 100%;
    height: 0.5rem;
    top: 9.5rem;
  }
  .statistics-card {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
    margin: 0 1rem;
  }
  .statistics-card:nth-child(odd),
  .statistics-card:nth-child(even) {
    -ms-flex-item-align: unset;
        -ms-grid-row-align: unset;
        align-self: unset;
  }
  .statistics-card:first-child {
    margin-left: 0;
  }
  .statistics-card:nth-child(2) {
    margin-top: 2.8rem;
  }
  .statistics-card:last-child {
    margin-right: 0;
    margin-top: 5.6rem;
  }
  .header,
  .shorten-link,
  .advanced-statistics,
  .summary,
  .footer {
    padding-left: 0rem;
    padding-right: 0rem;
  }
  .header-cnt,
  .intro-cnt,
  .shorten-link-cnt,
  .advanced-statistics-cnt,
  .summary-cnt,
  .footer-cnt {
    max-width: 1110px;
  }
  .advanced-statistics-cnt {
    max-width: none;
  }
  .intro {
    padding-left: 0rem;
    padding-top: 3rem;
    padding-bottom: 7rem;
  }
  .info-description-cnt {
    padding-right: 0;
  }
  .info-title {
    font-size: 4.8rem;
  }
  .info-description {
    font-size: 1.4rem;
  }
  .illustration-intro img {
    width: 100%;
  }
  .shorten-link-cnt {
    padding: 3.2rem 4rem;
  }
  .illustration-intro {
    left: 57.5%;
    width: 46rem;
  }
  #shorten-link-input-field {
    font-size: 1.2rem;
    padding: 1.1rem 2rem;
    outline: none;
  }
  .shorten-link-btn {
    padding: 1.2rem 0rem;
    font-size: 1.3rem;
  }
  .statistics-cards {
    margin-top: 5.2rem;
    margin-bottom: 5.7rem;
  }
  .statistics-card-icon {
    left: 1.9rem;
  }
  .statistics-card-title,
  .statistics-card-description {
    text-align: left;
    width: 100%;
  }
  .footer {
    padding-top: 4.6rem;
  }
  .footer-nav {
    padding-left: 12rem;
  }
  .footer-nav-items-wrapper {
    margin: 0 3rem;
  }
}
/*# sourceMappingURL=main.css.map */