button, .panel, .panel-cnt, .panel-nav, .panel-nav-info, .panel-result-empty,
.panel-result-error, .account-settings-nav-item a, .header-panel-home, .panel-result-link-data, .panel-result-loader, .error, .error-cnt, .error-description-cnt, .features, .features-cnt,
.features-cards,
.features-card,
.features-card-section, .features-card-img, .resources, .resources-cnt, .illustration-resources, .resources-description-cnt, .resources-items, .resources-items-filter, .resources-item, .resources-item-img, .resources-item-section, .pricing, .pricing-cnt, .pricing-cards, .pricing-switch-cost-data, .pricing-switch-text, .compare-cnt, .comapre-table-features,
.comapre-table-data, .summary, .summary-cnt, .intro, .intro-cnt, .info-description-cnt, .form, .form-cnt, .form-feedback, .form-control, .terms-and-conditions, .advanced-statistics, .advanced-statistics-cnt, .statistics-cards, .statistics-card, .statistics-card-icon, .shorten-link-result, .shorten-link-result-cnt, .shorten-link, .shorten-link-cnt, .header, .nav-item a,
.side-nav-btn, .side-nav-items, .footer, .footer-cnt, .footer-nav, .add-btn, .panel-btn, .account-settings-nav-items, .rescources-items-filter-list, .container-nav-items, .footer-nav-items,
.footer-social-media-items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.panel-title,
.add-link-title,
.edit-link-title, .error-title, .features-card-title, .resources-title,
.resources-item-title, .resources-category,
.resources-item-category, .rescources-items-filter-title, .compare-title, .summary-title, .info-title, .form-title, .advanced-statistics-title, .statistics-card-title {
  font-weight: 700;
  text-align: center;
}

.panel-description,
.panel-error, .error-description, .features-card-description, .resources-description, .rescources-items-filter-description, .info-description, .form-description {
  text-align: center;
  color: #9e9aa7;
}

.account-settings-nav-items, .rescources-items-filter-list, .container-nav-items, .footer-nav-items,
.footer-social-media-items {
  list-style-type: none;
  margin: 0;
  padding-bottom: 1rem;
  padding-inline-start: 0;
  flex-direction: column;
}

.main-btn,
.main-btn-opposed {
  color: #ffffff;
  padding: 0.9rem 0rem;
  font-weight: 700;
  min-width: fit-content;
}

.main-btn {
  border-radius: 3rem;
  background-color: #2acfcf;
}

.main-btn {
  transition: background-color 0.15s ease-in-out;
}

.main-btn-opposed,
.pricing-link-btn-opposed {
  transition: color 0.15s ease-in-out;
}

.main-btn:hover {
  background-color: #9be4e4;
}

.main-btn-opposed:hover {
  color: #35323e;
}

.shorten-link-btn,
.pricing-link-btn,
.pricing-link-btn-opposed,
.watch-now-btn,
.account-link-btn,
.shorten-link-result-btn {
  width: 100%;
  border-radius: 0.5rem;
  margin-top: 1rem;
  font-family: Arial;
  text-align: center;
}

.pricing-link-btn-opposed {
  color: #2acfcf;
  background-color: #ffffff;
}

.main-btn.pricing-link-btn-opposed:focus {
  outline: #ffffff dotted 3px;
}

.main-btn.pricing-link-btn-opposed:hover {
  color: #9be4e4;
  background-color: #ffffff;
}

.watch-now-btn {
  margin-top: 1.5rem;
}

.get-started-btn {
  padding-left: 2.7rem;
  padding-right: 2.7rem;
  font-size: 1.2rem;
}

.add-btn {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
  background-color: #ffffff;
}

.main-btn-add:hover svg path {
  fill: #9be4e4;
}

.main-btn-add {
  padding: 0.5rem;
}

.main-btn-add span {
  font-size: 1rem;
}

.panel-btn {
  flex: 1 1 100%;
}

.no-fill-btn {
  background-color: transparent;
  color: #2acfcf;
  border: 1px solid #2acfcf;
}

.panel-btn.no-fill-btn:hover {
  background-color: #e6ffff;
}

.main-btn-add svg path {
  transition: fill 0.15s ease-in-out;
}

.panel-result-link-data-btn:hover {
  background-color: #e6ffff;
}

.main-link {
  transition: color 0.15s ease-in-out;
}

.main-link {
  color: #2acfcf;
  font-size: inherit;
  text-decoration: underline;
}

.main-link:hover {
  color: #9be4e4;
}

.advanced-statistics {
  background-color: #eef0f6;
  padding: 1.5rem 1.25rem;
}

.advanced-statistics-cnt {
  flex-direction: column;
  flex: 1 1 100%;
}

.advanced-statistics-description,
.statistics-card-description {
  text-align: center;
  color: #9e9aa7;
}

.advanced-statistics-title {
  color: #35323e;
  font-size: 1.6rem;
  padding-top: 0rem;
  margin-bottom: 0.8rem;
  margin-top: 0rem;
}

.advanced-statistics-description {
  font-size: 1rem;
  line-height: 1.75;
  max-width: 32rem;
  margin-top: 0;
}

.statistics-cards {
  max-width: 43rem;
  width: 100%;
  position: relative;
  flex-direction: column;
  z-index: 1;
  margin: 5rem 0rem 3.5rem 0rem;
}

.statistics-cards::after {
  content: "";
  position: absolute;
  background-color: #2acfcf;
  width: 0.5rem;
  height: 100%;
  top: 0;
  z-index: -1;
}

.statistics-card {
  position: relative;
  flex-direction: column;
  background-color: #ffffff;
  margin: 3rem 0rem;
  padding: 1.9rem;
  max-width: 22rem;
  border-radius: 0.3rem;
}

.statistics-card:first-child {
  margin-top: 0rem;
}

.statistics-card:last-child {
  margin-bottom: 0rem;
}

.statistics-card-icon {
  position: absolute;
  background-color: #3b3054;
  width: 5.4rem;
  height: 5.4rem;
  border-radius: 50%;
  top: -2.7rem;
}

.statistics-card-title {
  color: #35323e;
  margin: 0;
  padding-top: 2.6rem;
  font-size: 1.4rem;
}

.statistics-card-description {
  font-size: 0.95rem;
  line-height: 1.6rem;
}

.footer-nav-item a {
  transition: color 0.15s ease-in-out;
}

.footer-social-media-item a svg path {
  transition: fill 0.15s ease-in-out;
}

.footer-nav-item a:hover {
  color: #2acfcf;
}

.main-btn:hover {
  background-color: #9be4e4;
}

.footer-cnt {
  flex-direction: column;
  flex: 1 1 100%;
}

.company-logo-link-footer {
  font-size: 0;
}

.footer-nav-title {
  color: #ffffff;
  font-weight: 700;
  text-align: center;
  font-size: 1rem;
  margin: 1rem 0;
}

.footer {
  padding: 3rem 1.25rem;
  background-color: #232127;
}

.footer-nav {
  flex-direction: column;
  padding: 2rem 0rem;
}

.footer-nav-item {
  margin: 0.2rem 0rem;
}

.footer-nav-item a {
  color: #bfbfbf;
  font-size: 0.9rem;
}

.footer-social-media-items {
  flex-direction: row;
  padding-bottom: 0rem;
}

.footer-social-media-item {
  margin: 0 0.8rem;
}

.footer-social-media-item a:hover svg path {
  fill: #2acfcf;
}

.form {
  padding: 0rem 1.25rem;
}

.form-cnt {
  border-top: 1px solid #eef0f6;
  padding-bottom: 5rem;
  flex-direction: column;
  flex: 1 1 100%;
}

.form-system {
  width: 100%;
  max-width: 450px;
  font-size: 1rem;
}

.form-feedback {
  font-size: 1rem;
  font-weight: 400;
  color: #f46262;
  visibility: hidden;
  padding: 0.5rem;
}

.form-feedback-error {
  border: 1px solid #f46262;
  color: #f46262;
  background-color: #ffe6e6;
  visibility: visible;
}

.form-feedback-success {
  border: 1px solid #2acfcf;
  color: #2acfcf;
  background-color: #e6ffff;
  visibility: visible;
}

.form-control {
  color: #35323e;
  border: 1px solid #9e9aa7;
  border-radius: 0.2rem;
  padding: 0.7rem 0.8rem;
  font-size: 0.9rem;
  outline: none;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
  border: 1px solid #2acfcf;
  box-shadow: 0 0 0 0.2rem rgba(42, 207, 207, 0.25);
}

.form-label {
  color: #6b6c70;
  font-weight: 400;
  padding: 1rem 0rem 0.5rem 0rem;
  font-size: 1rem;
}

.error-message {
  margin-top: 0.5rem;
  font-size: 0.8rem;
  font-weight: 400;
  color: #f46262;
  visibility: hidden;
}

.error-message-visible {
  visibility: visible;
}

.form-control-error {
  border: 1px solid #f46262;
  box-shadow: 0 0 0 0.2rem rgba(244, 98, 98, 0.25);
}

.form-label-error {
  color: #f46262;
}

.form-link {
  align-self: flex-end;
  margin: 1rem 0rem 1.5rem 0rem;
  font-weight: 400;
}

.form-btn {
  border-radius: 0.2rem;
  font-size: inherit;
}

.form-system {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 100%;
}

.form-title {
  color: #35323e;
  padding-top: 2rem;
  margin-bottom: 0.5rem;
  line-height: 1.25;
  font-size: 1.7rem;
}

.form-description {
  color: #6b6c70;
  font-size: 1rem;
  margin-top: 0;
  font-weight: 400;
}

.password-tip-items {
  display: flex;
  flex-wrap: wrap;
  padding-inline-start: 15px;
  color: #6b6c70;
  font-weight: 400;
  font-size: 0.8rem;
}

.password-tip-item {
  margin: 0rem;
  flex: 1 1 50%;
}

.terms-and-conditions {
  color: #6b6c70;
  font-weight: 400;
  font-size: 0.8rem;
  margin-top: 1rem;
  flex: 1 1 100%;
  flex-direction: column;
}

.terms-and-conditions span {
  text-align: center;
  line-height: 1.25;
}

.intro {
  padding: 0 0 4rem 0;
  position: relative;
}

.intro-cnt {
  flex-direction: column;
  flex: 1 1 100%;
  align-items: flex-start;
  overflow: hidden;
  padding-bottom: 3px;
}

.illustration-intro {
  position: relative;
  margin-left: 1.25rem;
}

.illustration-intro img {
  width: 32rem;
}

.info-description-cnt {
  padding: 0rem 1.25rem;
  flex-direction: column;
}

.info-title {
  color: #35323e;
  font-size: 2.6rem;
  line-height: 1.15;
  margin-bottom: 1rem;
}

.info-description {
  margin: 0 0 2rem 0;
  line-height: 1.6;
}

.illustration-intro-smaller {
  margin-right: 1.25rem;
  padding: 2rem 0rem;
  align-self: center;
}

.illustration-intro-smaller img {
  width: 100%;
}

.header {
  padding: 1.5rem 1.25rem;
}

.header-cnt {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1 1 100%;
}

.nav {
  display: none;
  z-index: 2;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #3b3054;
  color: #ffffff;
  margin-top: 1rem;
  border-radius: 0.5rem;
  padding: 2rem 1.5rem;
}

.nav-visible {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 100%;
  z-index: 3;
}

.nav-visible + .mobile-nav-toogle {
  z-index: 3;
}

.company-logo-link {
  font-size: 0;
}

.nav-item a,
.side-nav-btn {
  margin: 0.4rem 0rem;
  padding: 0.6rem 0rem;
  width: 100%;
  font-weight: 700;
}

.nav-item {
  width: 100%;
}

.nav-item a {
  color: #ffffff;
}

.side-nav-items {
  flex-direction: column;
  padding-top: 1rem;
  position: relative;
}

.side-nav-items::before {
  content: "";
  position: absolute;
  top: 0;
  height: 1px;
  width: 100%;
  background-color: #9e9aa7;
  opacity: 0.25;
}

.nav-item a,
.side-nav-btn:first-child {
  transition: color 0.15s ease-in-out;
}

.nav-item a:hover,
.side-nav-btn:first-child:hover {
  color: #2acfcf;
}

.overlay,
.overlay-notification {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100vh;
  position: fixed;
  z-index: -1;
}

.overlay-visible {
  display: flex;
  z-index: 2;
}

.no-scroll {
  overflow: hidden;
}

.shorten-link {
  z-index: 1;
  padding: 1.5rem 1.25rem;
  background-color: #eef0f6;
  position: relative;
}

.shorten-link::before {
  content: "";
  position: absolute;
  z-index: -1;
  height: 50%;
  left: 0;
  right: 0;
  top: 0;
  background-color: #ffffff;
}

.shorten-link-cnt {
  flex: 1 1 100%;
  padding: 1.5rem;
  background-color: #3b3054;
  background-image: url(../images/bg-shorten-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
  border-radius: 0.7rem;
}

.shorten-link-input-group {
  width: 100%;
  position: relative;
}

.error-message-absolute {
  font-weight: 500;
  font-style: italic;
}

.shorten-link-label,
.shorten-link-title,
.show-for-sr {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

#shorten-link-input-field {
  width: 100%;
  border: 3px solid #ffffff;
  font-weight: 500;
  border-radius: 0.5rem;
  font-size: 1rem;
  padding: 0.7rem 0.8rem;
  outline: none;
}

#shorten-link-input-field::placeholder {
  font-family: "Poppins", sans-serif;
  color: #35323e;
  opacity: 0.5;
}

#shorten-link-input-field.form-shorten-error {
  border-color: #f46262;
}

#shorten-link-input-field.form-shorten-error::placeholder {
  color: #f46262;
}

#short-link {
  width: 100%;
  flex-direction: column;
  max-width: 100%;
}

.shorten-link-result {
  padding: 0rem 1.25rem 1.5rem 1.25rem;
  background-color: #eef0f6;
}

.shorten-link-result-cnt {
  flex: 1 1 100%;
  flex-direction: column;
}

.shorten-link-result-row {
  display: grid;
  width: 100%;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  align-items: center;
  gap: 0.8rem;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
  background-color: #ffffff;
}

.shorten-link-result-data {
  color: #35323e;
  display: flex;
  overflow: hidden;
}

.shorten-link-result-data span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shorten-link-result-btn {
  margin: 0;
  padding: 0.7rem 0rem;
  font-size: 1rem;
}

.shorten-link-result-btn.shorten-link-result-btn-copied {
  background-color: #3b3054;
}

.shorten-link-result-short-link-data {
  color: #2acfcf;
  max-width: 100%;
}

.summary {
  padding: 4.9rem 1.25rem;
  height: 300px;
  background-color: #3b3054;
  background-image: url(../images/bg-boost-mobile.svg);
  background-position: top right;
  background-repeat: no-repeat;
}

.summary-cnt {
  flex-direction: column;
  flex: 1 1 100%;
}

.comapre-table-row {
  padding: 0.2rem 0rem;
  font-size: 1rem;
}

.summary-title {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 1.5rem;
}

.pricing {
  background-color: #eef0f6;
  padding: 1.5rem 1.25rem;
}

.pricing-cnt {
  flex-direction: column;
  flex: 1 1 100%;
}

.switch-input {
  position: absolute;
  margin-bottom: 0;
  opacity: 0;
}

.switch-paddle {
  background-color: #2acfcf;
  width: 3rem;
  height: 1.5rem;
  font-size: 0.625rem;
  border-radius: 20px;
  display: block;
  position: relative;
  cursor: pointer;
}

.pricing-switch {
  display: flex;
  padding-top: 3rem;
  color: #6b6c70;
}

.pricing-switch input:checked ~ .switch-paddle::after {
  left: 1.75rem;
}

.pricing-switch .switch-paddle::after {
  top: 0.25rem;
  left: 0.25rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  position: absolute;
  background-color: #ffffff;
  transition: all 0.25s ease-out;
  display: block;
  transform: translate3d(0, 0, 0);
  content: "";
}

.switch-paddle {
  margin: 0rem 1rem;
}

.pricing-cards {
  align-items: stretch;
  margin-top: 2rem;
  padding-bottom: 5rem;
  flex-direction: column;
}

.pricing-card {
  display: grid;
  justify-items: center;
  width: 100%;
  max-width: 22.5rem;
  margin: 1rem 0rem;
  border-radius: 0.5rem;
  box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.25);
  padding: 3rem;
  background-color: #ffffff;
}

.pricing-switch-cost-cnt {
  display: grid;
  justify-items: center;
}

.pricing-switch-cost-cnt .pricing-switch-cost-year {
  display: none;
}

.isYearly .pricing-switch-cost-month {
  display: none;
}

.isYearly .pricing-switch-cost-year {
  display: flex;
}

.pricing-switch-cost-data {
  flex-direction: column;
}

.pricing-card:nth-child(2) {
  margin-left: 0;
  background-color: #2acfcf;
  color: #ffffff;
  margin: 1rem 0rem;
}

.pricing-card:nth-child(2) .pricing-cost-title,
.pricing-card:nth-child(2) .pricing-cost,
.pricing-card:nth-child(2) .pricing-switch-text,
.pricing-card:nth-child(2) .pricing-cost-description {
  color: #ffffff;
}

.pricing-cost-title {
  color: #35323e;
  margin: 0;
  font-size: 1.6rem;
}

.pricing-cost-description {
  color: #9e9aa7;
  font-size: 1rem;
  text-align: center;
}

.pricing-cost {
  font-size: 3.5rem;
  margin-top: 1rem;
  color: #35323e;
}

.pricing-switch-text {
  color: #35323e;
  margin-bottom: 1.5rem;
  font-size: 1rem;
  text-align: center;
  position: relative;
}

.pricing-switch-text-save {
  position: absolute;
  bottom: -1rem;
  width: max-content;
  font-size: 0.8rem;
}

.compare-title {
  color: #35323e;
}

.compare-table {
  width: 100%;
  display: grid;
  padding-top: 1rem;
  color: #35323e;
}

.comapre-table-row {
  display: grid;
  grid-template-rows: 3rem;
  grid-auto-rows: auto;
  grid-template-columns: repeat(3, 1fr);
}

.compare-cnt {
  flex-direction: column;
  padding-bottom: 5rem;
  width: 100%;
}

.comapre-table-features {
  justify-content: flex-start;
  grid-column: 1/-1;
}

.comapre-table-row {
  border-bottom: 1px solid #bfbfbf;
}

.comapre-table-row-header .comapre-table-data {
  display: none;
}

.comapre-table-row-header .comapre-table-features {
  padding-bottom: 1rem;
}

.comapre-table-row-header {
  border-bottom: 1px solid #35323e;
  font-size: 1rem;
}

.comapre-table-data-basic::before,
.comapre-table-data-premium::before,
.comapre-table-data-enterpise::before {
  content: "";
  color: #9e9aa7;
  position: absolute;
  top: 0;
}

.comapre-table-data-basic::before {
  content: "Basic";
}

.comapre-table-data-premium::before {
  content: "Premium";
}

.comapre-table-data-enterpise::before {
  content: "Enterpise";
}

.comapre-table-data-basic,
.comapre-table-data-premium,
.comapre-table-data-enterpise {
  padding: 2rem 0rem 1rem 0rem;
  position: relative;
  margin-top: 1rem;
}

.resources {
  padding: 1.25rem 1.25rem 0rem 1.25rem;
}

.resources-cnt {
  flex-direction: column;
  flex: 1 1 100%;
  align-items: flex-start;
  padding-bottom: 2rem;
  border-bottom: 1px solid #eef0f6;
}

.illustration-resources {
  padding: 1rem;
  background-color: #eef0f6;
  width: 100%;
  height: 15rem;
}

.illustration-resources img {
  max-width: 100%;
  height: 100%;
}

.resources-description-cnt {
  flex-direction: column;
  align-items: flex-start;
  padding-top: 1.25rem;
  width: 100%;
}

.resources-title,
.resources-item-title {
  color: #35323e;
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.25;
  margin: 0rem 0rem 1rem 0rem;
}

.resources-category,
.resources-item-category {
  color: #6b6c70;
  font-weight: 400;
  line-height: 2;
  text-align: left;
  font-size: 1.1rem;
  margin: 0;
}

.resources-description {
  text-align: left;
  margin: 0;
  line-height: 1.45;
  font-weight: 400;
  font-size: 0.9rem;
}

.resources-items {
  padding: 3rem 1.25rem 1rem 1.25rem;
  width: 100%;
}

.resources-items-cnt {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
}

.resources-items-filter {
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
}

.rescources-items-filter-list {
  align-items: flex-start;
  padding-bottom: 2rem;
}

.rescources-items-filter-title {
  margin: 0;
}

.rescources-items-filter-title {
  color: #35323e;
  text-align: left;
  font-size: 1.2rem;
  border-bottom: 1px solid #eef0f6;
  font-weight: 500;
  width: 100%;
}

.rescources-items-filter-description {
  font-weight: 400;
  font-size: 1rem;
}

.rescources-items-filter-list li {
  cursor: pointer;
  border-radius: 3rem;
  font-size: 1rem;
  padding: 0.4rem 1rem;
  color: #35323e;
  background-color: #eef0f6;
  border: 1px solid #eef0f6;
  margin-bottom: 1rem;
  font-weight: 400;
  transition: all 0.15s ease-in-out;
}

.rescources-items-filter-list li:hover {
  border: 1px solid #2acfcf;
  color: #2acfcf;
}

.resources-items-list {
  display: grid;
  grid-template-columns: 1fr;
  width: 100%;
}

.resources-item {
  flex: 1 1 100%;
  flex-direction: column;
  border-radius: 4px 4px 0 0;
  box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #e6e6e6;
  margin-bottom: 2.5rem;
  align-items: flex-start;
  justify-content: flex-start;
}

.resources-item-img {
  width: 100%;
  height: 12.5rem;
  padding: 1rem;
  background-color: #eef0f6;
}

.resources-item-img img {
  max-width: 100%;
  height: 100%;
}

.resources-item-section {
  flex-direction: column;
  align-items: flex-start;
  padding: 0.7rem 1.25rem 1.5rem 1.25rem;
}

.resources-item-section-invisible {
  display: none;
}

.resources-item-category {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  overflow: hidden;
}

.resources-item-title {
  font-size: 1.2rem;
  line-height: 1.1;
}

.features {
  background-color: #eef0f6;
  padding: 1.5rem 1.25rem;
}

.features-cnt,
.features-cards,
.features-card,
.features-card-section {
  flex-direction: column;
  width: 100%;
}

.features-cards {
  padding: 2rem 0rem;
}

.features-card {
  border-bottom: 1px solid #bfbfbf;
  padding: 2rem 0rem;
}

.features-card:last-child {
  border-bottom: none;
}

.features-card-img {
  padding: 1rem;
  width: 100%;
  height: 15rem;
}

.features-card-img img {
  height: 100%;
  max-width: 100%;
}

.features-card-title {
  color: #35323e;
  text-align: left;
  font-size: 1.8rem;
  line-height: 1.25;
  margin: 0rem 0rem 1.5rem 0rem;
}

.features-card-description {
  text-align: left;
  margin: 0;
  line-height: 1.7;
  font-weight: 400;
  font-size: 1rem;
}

.features-card-section {
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem 0rem;
}

.error {
  padding: 0rem 1.25rem;
}

.error-cnt {
  flex-direction: column;
  flex: 1 1 100%;
  padding-top: 2rem;
}

.illustration-error img {
  max-width: 25rem;
  width: 100%;
}

.error-description-cnt {
  align-items: flex-start;
  align-self: flex-start;
  flex-direction: column;
}

.error-title {
  color: #35323e;
  font-size: 2.6rem;
  line-height: 1.15;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: left;
}

.error-description {
  margin: 0 0 2rem 0;
  line-height: 1.6;
  text-align: left;
  font-weight: 400;
}

.illustration-error-server-down {
  padding: 1.5rem 0rem;
}

@keyframes spinner {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes show_alert {
  0% {
    transform: translateY(-50px);
  }
  100% {
    transform: translateY(25px);
  }
}
.panel {
  padding: 0rem 1.25rem;
  width: 100%;
}

.panel-cnt {
  padding-bottom: 5rem;
  padding-top: 2rem;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.panel-cnt::before {
  content: "";
  z-index: 6;
  width: 100%;
  height: 1px;
  top: 0;
  position: absolute;
  background-color: #eef0f6;
}

.panel-nav {
  width: 100%;
  justify-content: space-between;
}

.panel-title,
.add-link-title,
.edit-link-title {
  color: #35323e;
  margin: 0;
  line-height: 1.25;
  font-size: 1.7rem;
}

.panel-nav-info {
  flex-direction: column;
  align-items: flex-start;
}

.panel-description,
.panel-error {
  color: #6b6c70;
  font-size: 0.9rem;
  font-weight: 400;
}

.panel-description {
  margin: 0;
  min-height: 1.5rem;
}

.panel-result {
  padding-top: 3rem;
  width: 100%;
}

.panel-result-empty,
.panel-result-error {
  flex-direction: column;
  display: none;
}

.panel-result-empty img,
.panel-result-error img {
  width: 100%;
  max-width: 32rem;
  padding: 0rem 2rem;
}

.panel-result-empty .panel-title,
.panel-result-error .panel-title {
  margin: 2rem 0rem 1rem 0rem;
}

.panel-result-empty .panel-description,
.panel-result-error .panel-description {
  max-width: 15rem;
}

.panel-result-empty .panel-description span,
.panel-result-error .panel-description span {
  font-weight: 700;
}

.add-info {
  margin-right: 0.5rem;
}

.add-info-plus {
  display: none;
}

.main-panel {
  position: relative;
  overflow-y: visible;
  align-items: flex-start;
  justify-content: center;
  display: flex;
  flex-grow: 1;
  width: 100%;
}

.main-link-clear-all {
  margin-left: 0.5rem;
  white-space: nowrap;
}

.add-link,
.account-settings,
.edit-link {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 40rem;
  height: calc(100% - 5rem);
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 0rem 1.25rem;
  transform: translateX(-100%);
  z-index: 3;
  transition: transform 0.5s cubic-bezier(0.19, 0.56, 0.44, 1.12) 0s;
}

.add-link-visible,
.account-settings-visible,
.edit-link-visible {
  transform: translateX(0%);
}

.add-link.no-animation,
.account-settings.no-animation,
.edit-link.no-animation {
  transition: none;
}

.add-link-title,
.edit-link-title {
  text-align: left;
  padding-bottom: 0.5rem;
}

.panel-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
}

.form-panel {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  grid-template-columns: 1fr;
  width: 100%;
  max-width: 40rem;
}

.form-action-buttons {
  display: flex;
  gap: 0.5rem;
  padding: 2rem 0rem;
}

.form-fileds,
.account-settings-nav {
  display: flex;
  flex-direction: column;
}

.account-settings {
  display: grid;
  grid-template-rows: 1fr min-content;
  grid-template-columns: 1fr;
}

.account-settings-nav,
.form-panel {
  padding-top: 2rem;
}

.account-settings-nav-items {
  padding-bottom: 0;
}

.account-settings-nav-item {
  width: 100%;
}

.account-settings-nav-item a {
  color: #9e9aa7;
  margin: 0.4rem 0rem;
  padding: 0.6rem 0rem;
  width: 100%;
  font-weight: 700;
  transition: color 0.15s ease-in-out;
}

.account-settings-nav-item a:hover {
  color: #35323e;
}

.account-settings-toogle img {
  width: 32px;
  height: 32px;
}

.company-logo-panel {
  padding: 0.5rem;
  width: 40px;
  height: 40px;
}

.account-settings-toogle img:last-child {
  display: none;
}

.account-settings-toogle-visible img:last-child {
  display: flex;
}

.account-settings-toogle-visible img:first-child {
  display: none;
}

.header-panel {
  height: 5rem;
  z-index: 4;
  background-color: #ffffff;
}

.header-panel-home a {
  padding: 0;
  width: fit-content;
  font-size: 0;
  border-radius: 50%;
  background-color: #eef0f6;
}

.overlay,
.overlay-notification {
  background-color: rgba(0, 0, 0, 0.1);
}

.panel-result-cnt {
  display: none;
  flex-direction: column;
  font-size: 1rem;
}

.panel-result-links {
  min-width: 1100px;
  margin-top: 1rem;
  border: 1px solid #bfbfbf;
  display: grid;
  color: #35323e;
}

.panel-result-links-wrapper {
  overflow-x: auto;
  padding-bottom: 1rem;
}

.panel-result-link-row:nth-child(odd) {
  background-color: #eef0f6;
}

.panel-result-link-row-header {
  font-weight: 700;
}

.panel-result-link-row {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 2fr 2fr 165px 150px 150px;
  justify-items: center;
  align-items: center;
}

.panel-result-link-data-clicks {
  word-break: break-all;
}

.panel-result-link-data {
  padding: 1rem;
  width: 100%;
  height: 100%;
  border-right: 1px solid #bfbfbf;
  overflow: hidden;
}

.panel-result-link-data span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.panel-result-link-row .panel-result-link-data:last-child {
  border-style: none;
}

.panel-result-counter {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.panel-result-counter-data {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.panel-result-counter-data-and {
  display: none;
  margin: 0 0.3rem;
}

.panel-result-counter a {
  white-space: nowrap;
  margin-left: 0.5rem;
}

.panel-result-link-data-btn {
  transition: background-color 0.15s ease-in-out;
  border-radius: 50%;
  margin: 3px;
  width: 30px;
  height: 30px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bold-text {
  font-weight: 700;
}

.panel-result-counter {
  color: #35323e;
}

.panel-result-loader {
  position: relative;
  padding-top: 8rem;
}

.panel-result-loader-invisible {
  display: none;
}

.loader {
  width: 40px;
  height: 40px;
  border: 4px solid #35323e;
  border-left-color: transparent;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  position: absolute;
}

.panel_result_feedback.panel_result_feedback-visible {
  display: flex;
}

.panel-result-feedback.panel-result-feedback-visible {
  display: flex;
}

.overlay-notification {
  z-index: 6;
}

.delete-link-notification {
  position: absolute;
  top: 25%;
  background-color: #ffffff;
  padding: 2rem;
  z-index: 7;
  border: 1px solid #bfbfbf;
  border-radius: 0.2rem;
  margin: 0rem 1.25rem;
}

.form-action-buttons-notification {
  padding-bottom: 0rem;
}

.panel-description-notification {
  margin-top: 0.5rem;
}

.delete-feedback-error {
  position: absolute;
  z-index: 10;
  border: 1px solid #f46262;
  color: #f46262;
  background-color: #ffe6e6;
  padding: 1rem 2rem;
  display: none;
  font-size: 0.9rem;
}

.delete-feedback-error-visible {
  display: flex;
  animation: show_alert 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.edit-link-data {
  display: flex;
  align-self: flex-end;
  padding: 0.5rem 1rem;
  color: #9e9aa7;
  border: 1px solid #9e9aa7;
  border-radius: 0.2rem;
  font-size: 0.9rem;
}

.form-info {
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
  margin-top: -0.5rem;
  color: #2acfcf;
}

.form-label-with-info {
  padding-bottom: 0.3rem;
}

.form-label-with-feedback {
  padding-top: 0rem;
}

.form-feedback-edit,
.form-feedback-add {
  margin: 0.5rem 0rem;
  font-size: 0.9rem;
}

body,
button,
a {
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

@media (max-width: 375px) {
  .info-title-smaller {
    font-size: 2rem;
  }

  .info-title {
    font-size: 2.3rem;
  }

  .info-description {
    font-size: 1rem;
  }

  .summary-title {
    font-size: 1.4rem;
  }

  .pricing-card {
    padding: 3rem 1.5rem;
  }

  .illustration-intro img {
    width: 30rem;
  }

  .illustration-intro-smaller img {
    width: 100%;
  }

  .advanced-statistics-title {
    font-size: 1.6rem;
  }

  .statistics-card-title {
    font-size: 1.3rem;
  }

  .resources-title {
    font-size: 1.6rem;
  }
}
@media (min-width: 400px) {
  .delete-link-notification {
    padding: 2rem 3rem;
  }
}
@media (min-width: 500px) {
  .illustration-intro-smaller {
    width: 75%;
  }

  .features-card-img {
    height: 20rem;
    padding: 2rem;
  }

  .panel-result-counter-data {
    flex-direction: row;
  }

  .panel-result-counter-data-and {
    display: block;
  }
}
@media (min-width: 575px) {
  .illustration-intro {
    margin-right: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .form-title {
    font-size: 1.8rem;
  }

  .resources-items-list {
    grid-template-columns: 1fr 1fr;
    column-gap: 1rem;
  }

  .illustration-resources {
    height: 20rem;
  }
}
@media (min-width: 600px) {
  .illustration-intro,
.info-description-cnt {
    padding: 0;
    margin: 0;
  }

  .illustration-intro img {
    width: 100%;
  }

  .illustration-intro-smaller {
    padding-top: 2rem;
  }

  .header,
.intro,
.shorten-link,
.shorten-link-result,
.advanced-statistics,
.summary,
.form,
.footer,
.pricing,
.resources-items,
.resources,
.features,
.error,
.panel,
.add-link,
.account-settings,
.edit-link {
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .add-info-plus {
    display: initial;
  }

  .panel-title {
    font-size: 2rem;
  }
}
@media (min-width: 700px) {
  .statistics-card:nth-child(odd) {
    align-self: flex-start;
  }

  .statistics-card:nth-child(even) {
    align-self: flex-end;
  }

  .footer-nav {
    flex-direction: row;
    align-items: flex-start;
  }

  .footer-nav-items-wrapper {
    margin: 0 3rem;
  }

  .advanced-statistics-cnt {
    max-width: 40rem;
  }

  .rescources-items-filter-list {
    flex-direction: row;
  }

  .rescources-items-filter-list li {
    margin-right: 0.5rem;
  }
}
@media (min-width: 800px) {
  .nav-item {
    margin: 0rem 0.5rem;
  }

  .side-nav-btn {
    margin: 0rem 1rem;
  }

  .intro-cnt {
    flex-direction: row-reverse;
    justify-content: flex-end;
    overflow: visible;
    padding-bottom: 0;
    position: relative;
  }

  .resources-cnt {
    flex-direction: row;
  }

  .info-description-cnt {
    align-items: flex-start;
    padding-right: 2rem;
  }

  .illustration-intro {
    left: 55.5%;
  }

  .intro {
    padding-right: 0rem;
    padding-bottom: 7rem;
    padding-top: 1.5rem;
  }

  .intro-smaller {
    padding-bottom: 4rem;
    padding-top: 2rem;
  }

  .info-title,
.info-description {
    text-align: left;
  }

  .illustration-intro {
    position: absolute;
    justify-content: flex-start;
  }

  .illustration-intro {
    width: 45%;
  }

  .info-description-cnt {
    width: 55%;
  }

  .illustration-intro img {
    width: 40rem;
  }

  .illustration-intro-smaller img {
    width: 100%;
  }

  .mobile-nav-toogle {
    display: none;
  }

  .company-logo-link {
    margin-right: 2rem;
  }

  .nav-panel-cnt .company-logo-link {
    margin: 0;
    padding: 0;
  }

  .nav {
    display: flex;
    align-items: center;
    position: relative;
    background-color: transparent;
    justify-content: space-between;
    flex: 1 1 100%;
    padding: 0;
    margin: 0;
  }

  .nav-item a,
.side-nav-btn:first-child {
    color: #9e9aa7;
  }

  .nav-item a:hover,
.side-nav-btn:first-child:hover {
    color: #35323e;
  }

  .side-nav-btn.main-btn {
    padding: 0.5rem 1.4rem;
  }

  .side-nav-btn.main-btn-opposed {
    padding: 0rem;
  }

  .nav-item a,
.side-nav-btn {
    font-size: 0.9rem;
    margin: 0rem 0.5rem;
  }

  .side-nav-btn {
    margin: 0rem 1rem;
  }

  .nav,
.container-nav-items,
.side-nav-items {
    flex-direction: row;
  }

  .side-nav-items,
.container-nav-items {
    padding: 0;
  }

  .side-nav-items::before {
    display: none;
  }

  .side-nav-items .main-btn {
    margin-right: 0;
    white-space: nowrap;
  }

  #short-link {
    flex-direction: row;
  }

  .shorten-link-btn {
    margin: 0rem 0rem 0rem 1.5rem;
    width: 10rem;
  }

  .header {
    padding-top: 3rem;
    padding-right: 3rem;
  }

  .header-panel {
    padding: 0;
    height: 100vh;
  }

  .shorten-link-cnt {
    background-image: url(../images/bg-shorten-desktop.svg);
  }

  .summary {
    background-image: url(../images/bg-boost-desktop.svg);
    height: 250px;
    padding-top: 3.3rem;
    padding-bottom: 3.3rem;
  }

  .advanced-statistics-title {
    font-size: 2.3rem;
  }

  .advanced-statistics-description {
    font-size: 1.1rem;
  }

  .summary-title,
.compare-title {
    font-size: 2.3rem;
  }

  .info-title {
    font-size: 3rem;
  }

  .info-title-smaller {
    font-size: 2.5rem;
  }

  .form-title {
    padding-top: 4rem;
  }

  .pricing-card {
    max-width: 42.5rem;
    grid-template-columns: 55% auto;
    grid-template-rows: repeat(3, auto);
    justify-items: start;
  }

  .pricing-switch-cost-cnt {
    grid-area: 1/2/-1/-1;
    justify-self: flex-end;
    align-self: start;
  }

  .pricing-cost-description {
    text-align: left;
  }

  .compare-table {
    grid-template-rows: auto;
    grid-auto-rows: 64px;
  }

  .comapre-table-row-header .comapre-table-data {
    display: flex;
  }

  .comapre-table-row-header .comapre-table-features {
    padding-bottom: 0rem;
  }

  .comapre-table-row-header {
    padding-bottom: 1rem;
  }

  .comapre-table-row {
    grid-template-columns: auto 140px 140px 140px;
    grid-template-rows: auto;
  }

  .comapre-table-data-basic,
.comapre-table-data-premium,
.comapre-table-data-enterpise {
    padding: 0rem;
    margin-top: 0rem;
  }

  .comapre-table-data-basic::before,
.comapre-table-data-premium::before,
.comapre-table-data-enterpise::before {
    display: none;
  }

  .comapre-table-features {
    grid-column: auto;
  }

  .resources {
    padding-top: 3rem;
    padding-bottom: 0rem;
  }

  .resources-cnt {
    padding-bottom: 4rem;
  }

  .illustration-resources {
    height: 18rem;
    width: 50%;
    margin-right: 1rem;
  }

  .resources-description-cnt {
    width: 50%;
    padding-top: 0rem;
    margin-left: 1rem;
  }

  .watch-now-btn {
    width: fit-content;
    padding: 1rem 2.5rem;
  }

  .features-card:nth-child(odd) {
    flex-direction: row;
  }

  .features-card:nth-child(even) {
    flex-direction: row-reverse;
  }

  .features-card-img {
    width: 50%;
    margin-right: 1rem;
  }

  .features-card-section {
    width: 50%;
    margin-left: 1rem;
  }

  .error-title {
    font-size: 3rem;
  }

  .panel-wrapper {
    flex-direction: row;
  }

  .nav-panel-cnt {
    flex-direction: column;
    height: 100%;
    width: 7rem;
    padding: 2rem 0rem;
    border-right: 1px solid #eef0f6;
  }

  .panel-cnt {
    max-width: 1100px;
  }

  .header-panel-home {
    padding: 0rem 2rem;
  }

  .add-link,
.account-settings,
.edit-link {
    height: 100vh;
    padding-left: 9rem;
  }

  .panel-cnt {
    padding-top: 4rem;
  }

  .panel-cnt::before {
    display: none;
  }

  .error-message-absolute {
    position: absolute;
    bottom: -1.2rem;
    font-size: 0.9rem;
    left: 0;
  }

  .shorten-link-cnt {
    padding: 2rem;
  }

  .shorten-link-result-row {
    grid-template-columns: 2fr 300px 100px;
    gap: 2rem;
  }

  .shorten-link-result-short-link-data {
    justify-content: flex-end;
  }
}
@media (min-width: 960px) {
  .header,
.shorten-link,
.shorten-link-result,
.advanced-statistics,
.summary,
.form,
.footer,
.pricing,
.resources-items,
.resources,
.features,
.error,
.panel {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .header-panel {
    padding: 0;
  }

  .intro {
    padding-left: 4rem;
  }

  .footer-cnt {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }

  .footer-nav {
    padding: 0;
    margin: 0 1rem;
  }

  .footer-nav-title {
    margin-top: 0rem;
  }

  .footer-nav-items {
    align-items: flex-start;
  }

  .footer-nav-title {
    text-align: left;
  }

  .footer-nav-items-wrapper {
    margin: 0 2rem;
  }

  .footer-social-media-item:last-child {
    margin-right: 0rem;
  }

  .advanced-statistics-title {
    font-size: 2.4rem;
  }

  .summary-title,
.compare-title {
    font-size: 2.5rem;
  }

  .summary {
    padding-top: 3.1rem;
    padding-bottom: 3.1rem;
  }

  .info-title {
    font-size: 3.4rem;
  }

  .info-title-smaller {
    font-size: 2.9rem;
  }

  .resources-items-list {
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 1rem;
  }

  .resources-title {
    font-size: 2.1rem;
  }

  .resources-description {
    font-size: 1rem;
  }

  .illustration-intro-smaller {
    width: 40%;
  }

  .features-card-title {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .header,
.shorten-link,
.shorten-link-result,
.advanced-statistics,
.summary,
.form,
.footer,
.pricing,
.resources-items,
.resources,
.features,
.error,
.panel {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .header-panel {
    padding: 0;
  }

  .intro {
    padding-left: 5rem;
    padding-bottom: 10rem;
  }

  .intro-smaller {
    padding-bottom: 6rem;
  }

  .info-description {
    font-size: 1.2rem;
  }

  .info-description-cnt {
    padding-right: 3rem;
  }

  .illustration-intro-smaller img {
    width: 100%;
  }

  .side-nav-btn {
    margin: 0rem 1rem;
  }

  .info-title {
    margin-bottom: 0rem;
    font-size: 4rem;
  }

  .info-title-smaller {
    margin-bottom: 1rem;
    font-size: 3rem;
  }

  .shorten-link-btn {
    width: 15rem;
  }

  .advanced-statistics-title {
    margin: 0 0 0.7rem 0;
    padding-top: 3rem;
  }

  .comapre-table-row {
    grid-template-columns: auto 200px 200px 200px;
    grid-template-rows: auto;
  }

  .resources-items-list {
    column-gap: 1.5rem;
  }

  .error-title {
    font-size: 3.2rem;
  }

  .error-description {
    font-size: 1.2rem;
  }
}
@media (min-width: 1140px) {
  .info-description-cnt-smaller {
    width: 50%;
  }

  .features-card-title {
    font-size: 2.5rem;
  }

  .panel-result-link-data-btn {
    width: 40px;
    height: 40px;
  }

  .panel-result-link-row {
    grid-template-columns: 2fr 2fr 165px 150px 175px;
  }
}
@media (min-width: 1280px) {
  .statistics-cards {
    flex-direction: row;
    max-width: max-content;
    align-items: flex-start;
  }

  .statistics-cards::after {
    width: 100%;
    height: 0.5rem;
    top: 9.5rem;
  }

  .statistics-card {
    align-self: unset;
    margin: 0 1rem;
  }

  .statistics-card:nth-child(odd),
.statistics-card:nth-child(even) {
    align-self: unset;
  }

  .statistics-card:first-child {
    margin-left: 0;
  }

  .statistics-card:nth-child(2) {
    margin-top: 2.8rem;
  }

  .statistics-card:last-child {
    margin-right: 0;
    margin-top: 5.6rem;
  }

  .header,
.shorten-link,
.shorten-link-result,
.advanced-statistics,
.summary,
.form,
.footer,
.pricing,
.resources-items,
.resources,
.features,
.panel {
    padding-left: 0rem;
    padding-right: 0rem;
  }

  .header-cnt,
.intro-cnt,
.shorten-link-cnt,
.shorten-link-result-cnt,
.advanced-statistics-cnt,
.summary-cnt,
.footer-cnt,
.form-cnt,
.pricing-cnt,
.resources-items-cnt,
.resources-cnt,
.features-cnt,
.error-cnt {
    max-width: 1110px;
  }

  .header-panel {
    padding: 0;
  }

  .advanced-statistics-cnt {
    max-width: none;
  }

  .intro {
    padding-left: 0rem;
    padding-top: 3rem;
    padding-bottom: 8rem;
  }

  .info-description-cnt {
    padding-right: 0;
  }

  .info-title {
    font-size: 4.8rem;
  }

  .info-title-smaller {
    font-size: 3.5rem;
  }

  .info-description {
    font-size: 1.4rem;
  }

  .illustration-intro img {
    width: 100%;
  }

  .shorten-link-cnt {
    padding: 3.2rem 4rem;
  }

  .error-message-absolute {
    bottom: -1.5rem;
  }

  .illustration-intro {
    left: 64%;
    width: 46rem;
  }

  .illustration-intro-smaller {
    width: 30rem;
    left: 57.5%;
  }

  #shorten-link-input-field {
    font-size: 1.2rem;
    padding: 1.1rem 2rem;
    outline: none;
  }

  .shorten-link-btn {
    padding: 1.2rem 0rem;
    font-size: 1.3rem;
  }

  .statistics-cards {
    margin-top: 5.2rem;
    margin-bottom: 5.7rem;
  }

  .statistics-card-icon {
    left: 1.9rem;
  }

  .statistics-card-title,
.statistics-card-description {
    text-align: left;
    width: 100%;
  }

  .footer {
    padding-top: 4.6rem;
  }

  .footer-nav {
    padding-left: 12rem;
  }

  .footer-nav-items-wrapper {
    margin: 0 3rem;
  }

  .pricing-cards {
    flex-direction: row;
    align-items: stretch;
  }

  .pricing-card {
    max-width: 22.5rem;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    justify-items: center;
  }

  .pricing-switch-cost-cnt {
    grid-area: auto;
    justify-self: auto;
    align-self: auto;
  }

  .pricing-cost-description {
    text-align: center;
  }

  .pricing-card {
    margin: 2rem 1rem;
  }

  .pricing-card:first-child {
    margin-left: 0;
  }

  .pricing-card:nth-child(2) {
    padding: 4rem 3rem;
  }

  .pricing-card:last-child {
    margin-right: 0;
  }

  .resources-items-cnt {
    grid-template-columns: 25% 75%;
  }

  .rescources-items-filter-list {
    flex-direction: column;
  }

  .resources-items-filter {
    justify-content: flex-start;
    padding-right: 4rem;
  }

  .resources-title {
    font-size: 2.3rem;
  }

  .illustration-resources {
    height: 20rem;
    margin-right: 2rem;
  }

  .resources-description-cnt {
    margin-left: 2rem;
  }

  .features-card-img {
    margin-right: 2rem;
  }

  .features-card-section {
    margin-left: 2rem;
  }

  .features-card-description {
    font-size: 1.1rem;
  }

  .error-description {
    font-size: 1.2rem;
  }
}
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

.main {
  overflow: hidden;
}

button {
  outline: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  padding: 0;
}

a:focus,
button:focus {
  outline: #2acfcf dotted 3px;
}

/*# sourceMappingURL=main.css.map */
