@use '../abstracts/colors' as *;
@use '../abstracts/values' as *;
@use '../base/extends' as *;

.main-btn,
.main-btn-opposed {
    color: map-get($map: $primary, $key: white-color);
    padding: 0.9rem 0rem;
    font-weight: map-get($map: $font-weight, $key: heavy);
    min-width: fit-content;
}

.main-btn {
    border-radius: 3rem;
    background-color: map-get($map: $primary, $key: cyan-color);
}

.main-btn {
    transition: background-color 0.15s ease-in-out;
}

.main-btn-opposed,
.pricing-link-btn-opposed {
    transition: color 0.15s ease-in-out;
}

.main-btn:hover {
    background-color: map-get($map: $neutral, $key: light-cyan);
}

.main-btn-opposed:hover {
    color: map-get($map: $neutral, $key: very-dark-blue);
}

.shorten-link-btn,
.pricing-link-btn,
.pricing-link-btn-opposed,
.watch-now-btn,
.account-link-btn {
    width: 100%;
    border-radius: 0.5rem;
    margin-top: 1rem;
    font-family: Arial;
    text-align: center;
}

.pricing-link-btn-opposed {
    color: map-get($map: $primary, $key: cyan-color);
    background-color: map-get($map: $primary, $key: white-color);
}

.main-btn.pricing-link-btn-opposed:focus {
    outline: map-get($map: $primary, $key: white-color) dotted 3px;
}

.main-btn.pricing-link-btn-opposed:hover {
    color: map-get($map: $neutral, $key: light-cyan);
    background-color: map-get($map: $primary, $key: white-color);
}

.watch-now-btn {
    margin-top: 1.5rem;
}

.get-started-btn {
    padding-left: 2.7rem;
    padding-right: 2.7rem;
    font-size: 1.2rem;
}

.add-btn {
    @extend %flexbox;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    background-color: map-get($map: $primary, $key: white-color);
}

.main-btn-add:hover svg path {
    fill: map-get($map: $neutral, $key: light-cyan);
}

.main-btn-add {
    padding: 0.5rem;
}

.main-btn-add span {
    font-size: 1rem;
}

.panel-btn {
    @extend %flexbox;
    flex: 1 1 100%;
}

.no-fill-btn {
    background-color: transparent;
    color: map-get($map: $primary, $key: cyan-color);
    border: 1px solid map-get($map: $primary, $key: cyan-color);
}

.panel-btn.no-fill-btn:hover {
    background-color: map-get($map: $neutral, $key: light-cyan-bg);
}

.main-btn-add svg path {
    transition: fill 0.15s ease-in-out;
}

.panel-result-link-data-btn:hover {
    background-color: map-get($map: $neutral, $key: light-cyan-bg);
}
