@use '../abstracts/colors' as *;

@media (min-width: 500px) {
    .illustration-intro-smaller {
        width: 80%;
    }
}

@media (min-width: 575px) {
    .illustration-intro {
        margin-right: 1.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .form-title {
        font-size: 1.8rem;
    }
}

@media (min-width: 600px) {
    .illustration-intro,
    .info-description-cnt {
        padding: 0;
        margin: 0;
    }

    .illustration-intro img {
        width: 100%;
    }

    .header,
    .intro,
    .shorten-link,
    .advanced-statistics,
    .summary,
    .form,
    .footer,
    .pricing {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

@media (min-width: 700px) {
    .statistics-card:nth-child(odd) {
        align-self: flex-start;
    }

    .statistics-card:nth-child(even) {
        align-self: flex-end;
    }

    .footer-nav {
        flex-direction: row;
        align-items: flex-start;
    }

    .footer-nav-items-wrapper {
        margin: 0 3rem;
    }

    .advanced-statistics-cnt {
        max-width: 40rem;
    }
}

@media (min-width: 800px) {
    .intro-cnt {
        flex-direction: row-reverse;
        justify-content: flex-end;
        overflow: visible;
        padding-bottom: 0;
    }

    .info-description-cnt {
        align-items: flex-start;
        padding-right: 2rem;
    }

    .illustration-intro {
        left: 57.5%;
    }

    .intro {
        padding-right: 0rem;
        padding-bottom: 7rem;
        padding-top: 1.5rem;
    }

    .intro-smaller {
        padding-bottom: 4rem;
        padding-top: 2rem;
    }

    .info-title,
    .info-description {
        text-align: left;
    }

    .illustration-intro {
        position: absolute;
        justify-content: flex-start;
    }

    .illustration-intro {
        width: 45%;
    }

    .info-description-cnt {
        width: 55%;
    }

    .illustration-intro img {
        width: 40rem;
    }

    .mobile-nav-toogle {
        display: none;
    }

    .company-logo-link {
        margin-right: 2rem;
    }

    .nav {
        display: flex;
        justify-content: baseline;
        align-items: center;
        position: relative;
        background-color: transparent;
        justify-content: space-between;
        flex: 1 1 100%;
        padding: 0;
        margin: 0;
    }

    .nav-item a,
    .side-nav-btn:first-child {
        color: map-get($map: $neutral, $key: grayish-violet);
    }

    .side-nav-btn.main-btn {
        padding: 0.5rem 1.4rem;
    }

    .side-nav-btn.main-btn-opposed {
        padding: 0rem;
    }

    .nav-item a,
    .side-nav-btn {
        font-size: 0.9rem;
        margin: 0rem 0.5rem;
    }

    .nav,
    .container-nav-items,
    .side-nav-items {
        flex-direction: row;
    }

    .side-nav-items,
    .container-nav-items {
        padding: 0;
    }

    .side-nav-items::before {
        display: none;
    }

    .side-nav-items .main-btn {
        margin-right: 0;
    }

    .shorten-link-cnt {
        flex-direction: row;
    }

    .shorten-link-btn {
        margin: 0rem 0rem 0rem 1.5rem;
        width: 10rem;
    }

    .header {
        padding-top: 3rem;
        padding-right: 3rem;
    }

    .shorten-link-cnt {
        background-image: url(../images/bg-shorten-desktop.svg);
    }

    .summary {
        background-image: url(../images/bg-boost-desktop.svg);
        padding-top: 3.3rem;
        padding-bottom: 3.3rem;
    }

    .advanced-statistics-title {
        font-size: 2.3rem;
    }

    .advanced-statistics-description {
        font-size: 1.1rem;
    }

    .summary-title,
    .compare-title {
        font-size: 2.3rem;
    }

    .info-title {
        font-size: 3rem;
    }

    .info-title-smaller {
        font-size: 2.5rem;
    }

    .pricing-card {
        max-width: 42.5rem;
        grid-template-columns: 55% auto;
        grid-template-rows: repeat(3, auto);
        justify-items: start;
    }

    .pricing-switch-cost-cnt {
        grid-area: 1/2/-1/-1;
        justify-self: flex-end;
        align-self: start;
    }

    .pricing-cost-description {
        text-align: left;
    }

    .compare-table {
        grid-template-rows: auto;
        grid-auto-rows: 64px;
    }

    .comapre-table-row-header .comapre-table-data {
        display: flex;
    }

    .comapre-table-row-header .comapre-table-features {
        padding-bottom: 0rem;
    }

    .comapre-table-row-header {
        padding-bottom: 1rem;
    }

    .comapre-table-row {
        grid-template-columns: auto 140px 140px 140px;
        grid-template-rows: auto;
    }

    .comapre-table-data-basic,
    .comapre-table-data-premium,
    .comapre-table-data-enterpise {
        padding: 0rem;
        margin-top: 0rem;
    }

    .comapre-table-data-basic::before,
    .comapre-table-data-premium::before,
    .comapre-table-data-enterpise::before {
        display: none;
    }

    .comapre-table-features {
        grid-column: auto;
    }
}

@media (min-width: 960px) {
    .header,
    .shorten-link,
    .advanced-statistics,
    .summary,
    .form,
    .footer,
    .pricing {
        padding-left: 4rem;
        padding-right: 4rem;
    }

    .intro {
        padding-left: 4rem;
    }

    .footer-cnt {
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
    }

    .footer-nav {
        padding: 0;
        margin: 0 1rem;
    }

    .footer-nav-title {
        margin-block-start: 0rem;
    }

    .footer-nav-items {
        align-items: flex-start;
    }

    .footer-nav-title {
        text-align: left;
    }

    .footer-nav-items-wrapper {
        margin: 0 2rem;
    }

    .advanced-statistics-title {
        font-size: 2.4rem;
    }

    .summary-title,
    .compare-title {
        font-size: 2.5rem;
    }

    .summary {
        padding-top: 3.1rem;
        padding-bottom: 3.1rem;
    }

    .info-title {
        font-size: 3.4rem;
    }

    .info-title-smaller {
        font-size: 3rem;
    }
}

@media (min-width: 1024px) {
    .header,
    .shorten-link,
    .advanced-statistics,
    .summary,
    .form,
    .footer,
    .pricing {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    .intro {
        padding-left: 5rem;
        padding-bottom: 10rem;
    }

    .intro-smaller {
        padding-bottom: 6rem;
    }

    .info-description {
        font-size: 1.2rem;
    }

    .info-description-cnt {
        padding-right: 3rem;
    }

    .illustration-intro img {
        width: 50rem;
    }

    .side-nav-btn {
        margin: 0rem 1rem;
    }

    .nav-item {
        margin: 0rem 0.5rem;
    }

    .info-title {
        margin-bottom: 0rem;
        font-size: 3.5rem;
    }

    .info-title-smaller {
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .shorten-link-cnt {
        padding: 2rem;
    }

    .shorten-link-btn {
        width: 15rem;
    }

    .advanced-statistics-title {
        margin: 0 0 0.7rem 0;
        padding-top: 4.5rem;
    }

    .comapre-table-row {
        grid-template-columns: auto 200px 200px 200px;
        grid-template-rows: auto;
    }
}

@media (min-width: 1280px) {
    .statistics-cards {
        flex-direction: row;
        max-width: max-content;
        align-items: flex-start;
    }

    .statistics-cards::after {
        width: 100%;
        height: 0.5rem;
        top: 9.5rem;
    }

    .statistics-card {
        align-self: unset;
        margin: 0 1rem;
    }

    .statistics-card:nth-child(odd),
    .statistics-card:nth-child(even) {
        align-self: unset;
    }

    .statistics-card:first-child {
        margin-left: 0;
    }

    .statistics-card:nth-child(2) {
        margin-top: 2.8rem;
    }

    .statistics-card:last-child {
        margin-right: 0;
        margin-top: 5.6rem;
    }

    .header,
    .shorten-link,
    .advanced-statistics,
    .summary,
    .form,
    .footer,
    .pricing {
        padding-left: 0rem;
        padding-right: 0rem;
    }

    .header-cnt,
    .intro-cnt,
    .shorten-link-cnt,
    .advanced-statistics-cnt,
    .summary-cnt,
    .footer-cnt,
    .form-cnt,
    .pricing-cnt {
        max-width: 1110px;
    }

    .advanced-statistics-cnt {
        max-width: none;
    }

    .intro {
        padding-left: 0rem;
        padding-top: 3rem;
        padding-bottom: 7rem;
    }

    .info-description-cnt {
        padding-right: 0;
    }

    .info-title {
        font-size: 4.8rem;
    }

    .info-title-smaller {
        font-size: 3.9rem;
    }

    .info-description {
        font-size: 1.4rem;
    }

    .illustration-intro img {
        width: 100%;
    }

    .shorten-link-cnt {
        padding: 3.2rem 4rem;
    }

    .illustration-intro {
        left: 57.5%;
        width: 46rem;
    }

    .illustration-intro-smaller {
        left: 52.5%;
    }

    #shorten-link-input-field {
        font-size: 1.2rem;
        padding: 1.1rem 2rem;
        outline: none;
    }

    .shorten-link-btn {
        padding: 1.2rem 0rem;
        font-size: 1.3rem;
    }

    .statistics-cards {
        margin-top: 5.2rem;
        margin-bottom: 5.7rem;
    }

    .statistics-card-icon {
        left: 1.9rem;
    }

    .statistics-card-title,
    .statistics-card-description {
        text-align: left;
        width: 100%;
    }

    .footer {
        padding-top: 4.6rem;
    }

    .footer-nav {
        padding-left: 12rem;
    }

    .footer-nav-items-wrapper {
        margin: 0 3rem;
    }

    .pricing-cards {
        flex-direction: row;
        align-items: stretch;
    }

    .pricing-card {
        max-width: 22.5rem;
        grid-template-columns: 100%;
        grid-template-rows: auto;
        justify-items: center;
    }

    .pricing-switch-cost-cnt {
        grid-area: auto;
        justify-self: auto;
        align-self: auto;
    }

    .pricing-cost-description {
        text-align: center;
    }

    .pricing-card {
        margin: 2rem 1rem;
    }

    .pricing-card:first-child {
        margin-left: 0;
    }

    .pricing-card:nth-child(2) {
        padding: 4rem 3rem;
    }

    .pricing-card:last-child {
        margin-right: 0;
    }
}
