@use '../abstracts/colors' as *;
@use '../abstracts/values' as *;
@use '../base/extends' as *;
@use '../base/minix' as *;

.form {
    padding: 0rem 1.25rem;
    @extend %flexbox;
}

.form-cnt {
    border-top: 1px solid map-get($map: $neutral, $key: gray-blue);
    padding-bottom: 5rem;
    @extend %flexbox;
    flex-direction: column;
    flex: 1 1 100%;
}

.form-system {
    width: 100%;
    max-width: 450px;
    margin-top: 1rem;
    font-size: 1rem;
}

.form-feedback {
    font-size: 1rem;
    font-weight: map-get($map: $font-weight, $key: lighter);
    color: map-get($map: $secondary, $key: red-color);
    visibility: hidden;
    padding: 0.5rem;
    @extend %flexbox;
}

.form-feedback-error {
    border: 1px solid map-get($map: $secondary, $key: red-color);
    color: map-get($map: $secondary, $key: red-color);
    background-color: map-get($map: $secondary, $key: red-bg);
    visibility: visible;
}

.form-feedback-success {
    border: 1px solid map-get($map: $primary, $key: cyan-color);
    color: map-get($map: $primary, $key: cyan-color);
    background-color: map-get($map: $neutral, $key: light-cyan-bg);
    visibility: visible;
}

.form-control {
    @extend %flexbox;
    border: 1px solid map-get($map: $neutral, $key: grayish-violet);
    border-radius: 0.2rem;
    padding: 0.7rem 0.8rem;
    font-size: 0.9rem;
    outline: none;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border: 1px solid map-get($map: $primary, $key: cyan-color);
    box-shadow: 0 0 0 0.2rem map-get($map: $primary, $key: cyan-shadow);
}

.form-label {
    color: map-get($map: $neutral, $key: dark-blue);
    font-weight: map-get($map: $font-weight, $key: lighter);
    padding: 1rem 0rem 0.5rem 0rem;
    font-size: 1rem;
}

.error-message {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    font-weight: map-get($map: $font-weight, $key: lighter);
    color: map-get($map: $secondary, $key: red-color);
    visibility: hidden;
}

.error-message-visible {
    visibility: visible;
}

.form-control-error {
    border: 1px solid map-get($map: $secondary, $key: red-color);
    box-shadow: 0 0 0 0.2rem map-get($map: $secondary, $key: red-shadow);
}

.form-label-error {
    color: map-get($map: $secondary, $key: red-color);
}

.form-link {
    align-self: flex-end;
    margin: 1rem 0rem 1.5rem 0rem;
    font-weight: map-get($map: $font-weight, $key: lighter);
}

.form-btn {
    border-radius: 0.2rem;
    font-size: inherit;
}

.form-system {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex: 1 1 100%;
}

.form-title {
    @include title;
    padding-top: 2rem;
    margin-block-end: 0.5em;
    line-height: 1.25;
    font-size: 1.7rem;
}

.form-description {
    @extend %description;
    color: map-get($map: $neutral, $key: dark-blue);
    font-size: 1rem;
    margin-block-start: 0em;
    font-weight: map-get($map: $font-weight, $key: lighter);
}

.password-tip-items {
    display: flex;
    flex-wrap: wrap;
    padding-inline-start: 15px;
    color: map-get($map: $neutral, $key: dark-blue);
    font-weight: map-get($map: $font-weight, $key: lighter);
    font-size: 0.8rem;
}

.password-tip-item {
    margin: 0rem;
    flex: 1 1 50%;
}

.terms-and-conditions {
    color: map-get($map: $neutral, $key: dark-blue);
    font-weight: map-get($map: $font-weight, $key: lighter);
    font-size: 0.8rem;
    margin-top: 1rem;
    @extend %flexbox;
    flex: 1 1 100%;
    flex-direction: column;
}

.terms-and-conditions span {
    text-align: center;
    line-height: 1.25;
}
