@use '../abstracts/colors' as *;
@use '../abstracts/values' as *;
@use '../base/extends' as *;
@use '../base/minix' as *;
@use '../base/animations' as *;

.panel {
    padding: 0rem 1.25rem;
    @extend %flexbox;
    width: 100%;
}

.panel-cnt {
    padding-bottom: 5rem;
    padding-top: 2rem;
    @extend %flexbox;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.panel-cnt::before {
    content: "";
    z-index: 6;
    width: 100%;
    height: 1px;
    top: 0;
    position: absolute;
    background-color: map-get($map: $neutral, $key: gray-blue);
}

.panel-nav {
    @extend %flexbox;
    width: 100%;
    justify-content: space-between;
}

.panel-title,
.add-link-title,
.edit-link-title {
    @include title;
    margin: 0;
    line-height: 1.25;
    font-size: 1.7rem;
}

.panel-nav-info {
    @extend %flexbox;
    flex-direction: column;
    align-items: flex-start;
}

.panel-description,
.panel-error {
    @extend %description;
    color: map-get($map: $neutral, $key: dark-blue);
    font-size: 0.9rem;
    font-weight: map-get($map: $font-weight, $key: lighter);
}

.panel-description {
    margin: 0;
    min-height: 1.5rem;
}

.panel-result {
    padding-top: 3rem;
    width: 100%;
}

.panel-result-empty,
.panel-result-error {
    @extend %flexbox;
    flex-direction: column;
    display: none;
}

.panel-result-empty img,
.panel-result-error img {
    width: 100%;
    max-width: 32rem;
    padding: 0rem 2rem;
}

.panel-result-empty .panel-title,
.panel-result-error .panel-title {
    margin: 2rem 0rem 1rem 0rem;
}

.panel-result-empty .panel-description,
.panel-result-error .panel-description {
    max-width: 15rem;
}

.panel-result-empty .panel-description span,
.panel-result-error .panel-description span {
    font-weight: map-get($map: $font-weight, $key: heavy);
}

.add-info {
    margin-right: 0.5rem;
}

.add-info-plus {
    display: none;
}

.main-panel {
    position: relative;
    overflow-y: visible;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.add-link,
.account-settings,
.edit-link {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    max-width: 40rem;
    height: calc(100% - 5rem);
    background-color: map-get($map: $primary, $key: white-color);
    display: flex;
    flex-direction: column;
    padding: 0rem 1.25rem;
    transform: translateX(-100%);
    z-index: 3;
    transition: transform 0.5s cubic-bezier(0.19, 0.56, 0.44, 1.12) 0s;
}

.add-link-visible,
.account-settings-visible,
.edit-link-visible {
    transform: translateX(0%);
}

.add-link-title,
.edit-link-title {
    text-align: left;
    padding-bottom: 0.5rem;
}

.panel-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
}

.form-panel {
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    grid-template-columns: 1fr;
    width: 100%;
    max-width: 40rem;
}

.form-action-buttons {
    display: flex;
    gap: 0.5rem;
    padding: 2rem 0rem;
}

.form-fileds,
.account-settings-nav {
    display: flex;
    flex-direction: column;
}

.account-settings {
    display: grid;
    grid-template-rows: 1fr min-content;
    grid-template-columns: 1fr;
}

.account-settings-nav,
.form-panel {
    padding-top: 2rem;
}

.account-settings-nav-items {
    @extend %nav;
    padding-bottom: 0;
}

.account-settings-nav-item {
    width: 100%;
}

.account-settings-nav-item a {
    color: map-get($map: $neutral, $key: grayish-violet);
    margin: 0.4rem 0rem;
    padding: 0.6rem 0rem;
    @extend %flexbox;
    width: 100%;
    font-weight: map-get($map: $font-weight, $key: heavy);
    transition: color 0.15s ease-in-out;
}

.account-settings-nav-item a:hover {
    color: map-get($map: $neutral, $key: very-dark-blue);
}

.account-settings-toogle img {
    width: 28px;
    height: 28px;
}

.account-settings-toogle img:last-child {
    display: none;
}

.account-settings-toogle-visible img:last-child {
    display: flex;
}

.account-settings-toogle-visible img:first-child {
    display: none;
}

.header-panel {
    height: 5rem;
    z-index: 4;
    background-color: map-get($map: $primary, $key: white-color);
}

.header-panel-home a {
    padding: 0;
    width: fit-content;
}

.header-panel-cnt .company-logo-link img {
    max-height: 33px;
}

.header-panel-home {
    @extend %flexbox;
}

.overlay,
.overlay-notification {
    background-color: rgba(0, 0, 0, 0.1);
}

.panel-result-cnt {
    display: none;
    flex-direction: column;
    font-size: 1rem;
}

.panel-result-links {
    min-width: 800px;
    margin-top: 1rem;
    border: 1px solid map-get($map: $neutral, $key: gray-color);
    display: grid;
    color: map-get($map: $neutral, $key: very-dark-blue);
}

.panel-result-links-wrapper {
    overflow-x: auto;
    padding-bottom: 1rem;
}

.panel-result-link-row:nth-child(odd) {
    background-color: map-get($map: $neutral, $key: gray-blue);
}

.panel-result-link-row-header {
    font-weight: map-get($map: $font-weight, $key: heavy);
}

.panel-result-link-row {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 2fr 2fr 1fr 100px 150px;
    justify-items: center;
    align-items: center;
}

.panel-result-link-data {
    @extend %flexbox;
    padding: 1rem 0.5rem;
    width: 100%;
    height: 100%;
    border-right: 1px solid map-get($map: $neutral, $key: gray-color);
    word-break: break-all;
}

.panel-result-link-row .panel-result-link-data:last-child {
    border-style: none;
}

.panel-result-counter {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.panel-result-counter a {
    white-space: nowrap;
    margin-left: 0.5rem;
}

.panel-result-link-data-btn {
    transition: background-color 0.15s ease-in-out;
    border-radius: 50%;
    margin: 3px;
    width: 30px;
    height: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.bold-text {
    font-weight: map-get($map: $font-weight, $key: heavy);
}

.panel-result-counter {
    color: map-get($map: $neutral, $key: very-dark-blue);
}

.panel-result-loader {
    @extend %flexbox;
    position: relative;
    padding-top: 8rem;
}

.panel-result-loader-invisible {
    display: none;
}

.loader {
    width: 40px;
    height: 40px;
    border: 4px solid map-get($map: $neutral, $key: very-dark-blue);
    border-left-color: transparent;
    border-right-color: transparent;
    border-radius: 50%;
    -webkit-animation: spinner 1s infinite linear;
    animation: spinner 1s infinite linear;
    position: absolute;
}

.panel_result_feedback.panel_result_feedback-visible {
    display: flex;
}

.panel-result-feedback.panel-result-feedback-visible {
    display: flex;
}

.overlay-notification {
    z-index: 6;
}

.delete-link-notification {
    position: absolute;
    top: 25%;
    background-color: map-get($map: $primary, $key: white-color);
    padding: 2rem 3rem;
    z-index: 7;
    border: 1px solid map-get($map: $neutral, $key: gray-color);
    border-radius: 0.2rem;
}

.form-action-buttons-notification {
    padding-bottom: 0rem;
}

.panel-description-notification {
    margin-top: 0.5rem;
}

.delete-feedback-error {
    position: absolute;
    z-index: 10;
    border: 1px solid map-get($map: $secondary, $key: red-color);
    color: map-get($map: $secondary, $key: red-color);
    background-color: map-get($map: $secondary, $key: red-bg);
    padding: 1rem 2rem;
    display: none;
    font-size: 0.9rem;
}

.delete-feedback-error-visible {
    display: flex;
    animation: show_alert 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) forwards;
}

.edit-link-data {
    display: flex;
    align-self: flex-end;
    padding: 0.5rem 1rem;
    color: map-get($map: $neutral, $key: grayish-violet);
    border: 1px solid map-get($map: $neutral, $key: grayish-violet);
    border-radius: 0.2rem;
    font-size: 0.9rem;
}

.form-info {
    font-size: 0.8rem;
    padding-bottom: 0.2rem;
    margin-top: -0.5rem;
    color: map-get($map: $primary, $key: cyan-color);
}

.form-label-with-info {
    padding-bottom: 0.3rem;
}

.form-label-with-feedback {
    padding-top: 0rem;
}

.form-feedback-edit,
.form-feedback-add {
    margin: 0.5rem 0rem;
    font-size: 0.9rem;
}
